[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
defectdojo-api-client = {git = "https://github.com/William-Hill-Online/defectdojo-api-client.git"}

[requires]
python_version = "3.6"
